USE [Administracion]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/6/2025 17:29:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[Auditorias]    Script Date: 27/6/2025 17:29:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Auditorias]') AND type in (N'U'))
DROP TABLE [dbo].[Auditorias]
GO
USE [master]
GO
/****** Object:  Database [Administracion]    Script Date: 27/6/2025 17:29:40 ******/
DROP DATABASE [Administracion]
GO
/****** Object:  Database [Administracion]    Script Date: 27/6/2025 17:29:40 ******/
CREATE DATABASE [Administracion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Administracion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Administracion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Administracion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Administracion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Modern_Spanish_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Administracion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Administracion]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Auditorias]    Script Date: 27/6/2025 17:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditorias](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Nombre] [nvarchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[Puesto] [nvarchar](255) COLLATE Modern_Spanish_CI_AS NULL,
	[Tarea] [nvarchar](300) COLLATE Modern_Spanish_CI_AS NULL,
	[Estado] [nvarchar](300) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK__Auditori__06370DAD8A55A107] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/6/2025 17:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Nombre] [nvarchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[Puesto] [nvarchar](255) COLLATE Modern_Spanish_CI_AS NULL,
	[Tarea] [nvarchar](300) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK__Usuarios__06370DAD91AB5A1D] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditorias] ON 

INSERT [dbo].[Auditorias] ([Codigo], [Id], [Nombre], [Puesto], [Tarea], [Estado]) VALUES (1, 1, N'Juan Alvarez', N'Personal de RRHH', N'gestion del personal', N'Excento')
INSERT [dbo].[Auditorias] ([Codigo], [Id], [Nombre], [Puesto], [Tarea], [Estado]) VALUES (2, 2, N'Brenda alderoni', N'Atencion al cliente', N'Encargado de los clientes', N'Moroso')
INSERT [dbo].[Auditorias] ([Codigo], [Id], [Nombre], [Puesto], [Tarea], [Estado]) VALUES (3, 3, N'Alfornzo Galo', N'Logistica', N'Control de insumos', N'Pendiente')
SET IDENTITY_INSERT [dbo].[Auditorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Codigo], [Id], [Nombre], [Puesto], [Tarea]) VALUES (1, 1, N'Juan Alvarez', N'Personal de RRHH', N'gestion del personal')
INSERT [dbo].[Usuarios] ([Codigo], [Id], [Nombre], [Puesto], [Tarea]) VALUES (2, 2, N'Brenda alderoni', N'Atencion al cliente', N'Encargado de los clientes')
INSERT [dbo].[Usuarios] ([Codigo], [Id], [Nombre], [Puesto], [Tarea]) VALUES (3, 3, N'Alfornzo Galo', N'Logistica', N'Control de insumos')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
